<!DOCTYPE html>
<html>
<head>
	<title>Chitter</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css"> 
 	<link rel="stylesheet" type="text/css" href="/css/application.css">
</head>

<body>
    <header>
<!-- 	======================================================
		Logo
		====================================================== --> 
    	<h1 id="logo"<a href='#'>Chitter</a></h1>
<!-- 	======================================================
		"login" & "join" buttons
		====================================================== -->
		<ul>
    		<li><a id="login" href="#" class="button">Log in</a></li>
    		<li><a id="join" href="#" class="button">Join</a></li>
    	</ul>

<!-- 	======================================================
		"You're signed in as" message
		====================================================== -->
		<section id="signed-in">   	
	    	<h3 id="message">You are signed in as </h3>
	    	<h3 id="name-signed-in"></h3>
			<a id="sign-out" href="#">Sign Out</a>
		</section>
	</header>
	<main>
<!-- 	<% if flash[:errors] %>
	  <div class='flash notice'>
	    <%= flash[:errors] %>
	  </div>
	<% end %> -->
<!-- 	======================================================
		Sign-up window
		====================================================== -- -->
		<section id="signing-up">
				Full Name:<input id="full-name" type="text" name="name">
				User Name:<input id="user-name" type="text" name="user_name">
				Email:<input id="email-create" type="text" name="email">
				Password:<input id="password-create" type="password" name="password">
				<a id="sign-up" href="#">Sign Up</a>
		</section>
<!-- 	======================================================
		Sign-in window
		===================================================== -->
		<section id="signing-in">
				Email: <input id="email" type="text" name="email">
				Password: <input id="password" type="password" name="password">
				<a href="#" id="sign-in">Sign In</a>
		</section>
<!-- 	======================================================
		Peeps
		===================================================== -->
		<section id="peeps"></section>

		<template id="peepTemplate" type="text/x-handlebars-template">
<!-- 			<h1>User:: {{name}}</h1>
			<h2>Username: {{user_name}}</h2> -->
			<p>Time: {{time_added}}</p>
			<p>Message: {{message}}</p>	
		</template>


<!-- 		<%if @peeps%> -->
<!-- 		<% @peeps.each do |peep| %>
		<% @user = User.first(:id => peep.user_id)%>
		<ul>
		<li><%=@user.name%>@<%=@user.user_name%><%=peep.time_added.strftime("%Y-%m-%d %H:%M:%S")%><br/><%=peep.message%></li>
		</ul>
		<%end%>
		<%end%>
		</div> -->

		<div id="post-a-peep">
			<a href="#">Post a Peep</a>
		</div>

<!-- 	================================================================================
		Posting Peeps
		================================================================================ -->
		<div id="posting-peep">
			Message:<textarea rows="7" cols="20" name="message"></textarea>
			<a href="#" id="post">Post</a>
		</div>
		</main>
<!-- 	============================================================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/interface.js"></script>
	<script type="text/javascript" src="js/handlebars.js"></script>
</body>


